name: Test

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    name: Sistema
    runs-on: ubuntu
    strategy:
      matrix:
        node_version: ['8', '10', '12']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: npm install, build and test
      run: |
        npm install
        npm run build --if-present
        npm test
        yarn
        yarn test --coverage
        env:
         CI: true
