name: Test

on:
  pull_request:

jobs:
  build:
    name: Sistema
    runs-on: ubuntu-latest

    steps:
    
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: 12
